http {
    server {
        listen              443 ssl;
        server_name         {{ inventory_hostname }};
        ssl_certificate     /etc/nginx/server.crt;
        ssl_certificate_key /etc/nginx/server.key;
	{% for host in groups['prometheus_servers'] %}
	allow {{ hostvars[host]['ansible_default_ipv4']['address'] }};
	{% endfor %}

	{% for host in allowedHosts %}
	allow {{ host }};
	{% endfor %}
	deny all;
        location / {
            proxy_pass {{ nginx_proxy_pass }};
        }
    }
}

events {}
